.moviesList {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  padding: 0;
  justify-content: center;
  }
  
  .moviesItem {
  font-size: 18px;
  background-color: #FFFF00;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  overflow: hidden;
  transition: box-shadow 0.3s ease, transform 0.3s ease;
  }
  
  .moviesItem:hover,
  .moviesItem:focus {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transform: scale(1.1);
  }
  
  .moviesItem a {
  display: block;
  padding: 10px;
  color: #333;
  text-decoration: none;
  }
  
  .moviesItem a:hover {
  color: #ff0000;
  }